.container {
    background-color: #dde4f0;
}

.box-counter {
    background-color: #84a7e3;
    height: 25vh;
    border-radius: 10px;
}

.buttons {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-size: 3rem;
    padding-bottom: 7px;
    border: solid 3px #dde4f0;
}

h1 {
    color: #7f8f88;
    font-size: 3rem;
    margin-top: 5vh;
}

.btn-red {
    background-color: #e0bbb4
}

.btn-green {
    background-color: #b4e0cd;
}

h2 {
    background-color: white;
    width: 8vw;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #dde4f0;
    border-radius: 15%;
}