.buttons {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-red {
    background-color: red;
}

.btn-green {
    background-color: green;
}